
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

#personal-info {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#personal-info h2 {
    margin-top: 0;
    font-size: 1.8em;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

#personal-info .info p {
    margin: 10px 0;
    font-size: 1.1em;
}


#recent-posts {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#recent-posts h2 {
    margin-top: 0;
    font-size: 1.8em;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

#recent-posts ul {
    list-style-type: none;
    padding: 0;
}

#recent-posts .post-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
}


#contacts {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#contacts h2 {
    margin-top: 0;
    font-size: 1.8em;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

#contacts ul {
    list-style-type: none;
    padding: 0;
}

#contacts .contact-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
}

/* Estilos para el pie de página */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 1em;
}
